.feedback__input{
    border-radius: 6px;
    border: none;
    width: 280px;
    outline: none;
    height: 50px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 10px;
    padding-left: 20px;
    
}

.feedback__input:focus + .feedback__label{
    top: -15px
}

.feedback__input:valid + .feedback__label{
    top: -15px
}

@media screen and (min-width:768px) {
    .feedback__input{
        width: 226px;
        margin-right: 30px;

    }
}
