.header__subtitle{
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 36px;
    margin-left: 20px;
}

@media screen and (min-width:768px) {
    .header__subtitle{
        margin-left: 0px;
        margin-top: 55px;
    }
}